<style>
    .hover-white{
        transition: 0.0s !important;
    }
    .hover-white:hover{
        color: #fff;
    }
</style>


<!-- Begin Header Bottom Area -->
<div class="header-bottom header-sticky d-none d-lg-block d-xl-block" style="height: 80px;">
    <div class="container">
        <div class="row" style="padding-top: 10px;">
            <div class="col-md-12">
                <!-- Begin Header Bottom Menu Area -->
                <div class="hb-menu col-md-12 ">
                    <nav>
                        <ul>
                            <li><a href="/admin">Admin</a>
                            </li>
                            <li class="dropdown-holder cursor hover-white"><a href="/admin/products">Products</a>
                            </li>
                             <li><a href="/admin/best-sellers">Best Sellers</a></li>
                              <li><a href="/admin/new-arrivals">New Arrivals</a></li>
                            <li><a href="/admin/orders">Orders</a></li>
                            <li><a href="/admin/users">Users</a></li>
                            <li><a href="/admin/blocked-users">Blocked Users</a></li>
                            <li class="dropdown-holder me-auto" style="float: right;padding-left: 0;"><a href="#">My
                                    Account</a>
                                <ul class="hb-dropdown" style="width: 120px;">
                                    <li><a href="#">Login</a></li>
                                    <li><a href="#">Signup</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>

                <!-- Header Bottom Menu Area End Here -->
            </div>
        </div>
    </div>
</div>
